<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="http://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>
<style>
  svg text {
    font-family: "Gill Sans";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .centered {
    text-align: center;
  }
</style>

<script>

  // set the dimensions and margins of the graph
  var margin = { top: 20, right: 30, bottom: 20, left: 30 },
    width = 1400 - margin.left - margin.right,
    height = 700 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg = d3.select("#my_dataviz")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

  var hovertip = svg.append("text")
    .attr("x", width - 100)
    .attr("y", 20)
    .text("Hover over a node")

  var hoverbox = svg.append("rect")
    .attr("x", width - 110)
    .attr("y", 0)
    .attr("width", 200)
    .attr("height", 30)
    .attr("fill", "rgba(255, 158, 44, .3)")

  d3.json("https://raw.githubusercontent.com/CornellDataScience/Insights-Knowledge-Graphs/master/templates/relations.json", function (data) {

    var g = svg.append("g")
      .attr("class", "everything");

    // Initialize the links
    var link = g.append("g")
      .selectAll("line")
      .data(data.links)
      .enter()
      .append("line")
      .style("stroke", "#aaa")
      .attr("id", d => "link" + d.source + d.target);

    // Initialize the nodes
    var node = g.append("g")
      .selectAll("circle")
      .data(data.nodes)
      .enter()
      .append("circle")
      .attr("r", 15)
      .style("fill", function (d) { return d.color })
      .on("mouseover", function (d) {
        data.links.forEach(function (l, i) {
          if (l.source.id === d.id) {
            d3.select("#link" + d.id + l.target.id)
              .style("stroke", "red");
          } else if (l.target.id === d.id) {
            d3.select("#link" + l.source.id + d.id)
              .style("stroke", "red");
          }
        });
        hovertip.text(d.name)
          .attr("x", width - (d.name.length * 6.5));
        hoverbox.attr("x", width - (d.name.length * 6.5) - 10)
          .attr("width", d.name.length * 6.5 + 50)
        d3.select("#node" + d.id).style("fill", "red");
      })
      .on("mouseout", function (d) {
        d3.select("#node" + d.id).style("fill", function (d) { return d.color });
        data.links.forEach(function (l, i) {
          if (l.source.id === d.id) {
            d3.select("#link" + d.id + l.target.id)
              .style("stroke", "black");
          } else if (l.target.id === d.id) {
            d3.select("#link" + l.source.id + d.id)
              .style("stroke", "black");
          }
        })
      })
      .call(d3.drag().on("start", dragstart).on("drag", dragging).on("end", dragend))
      .attr("id", d => "node" + d.id);

    var entities = g.append("g")
      .selectAll(".entities")
      .data(data.nodes)
      .enter()
      .append("text")
      .attr("class", "entities")
      .attr("text-anchor", "middle")
      .text(function (d) { return d.name.length < 15 ? d.name : d.name.substring(0, 15) + "..." })


    var relations = g.append("g")
      .selectAll(".relations")
      .data(data.links)
      .enter()
      .append("text")
      .attr("class", "relations")
      .attr("text-anchor", "middle")
      .text(function (d) { return d.name })



    var simulation = d3.forceSimulation(data.nodes)
      .force("link", d3.forceLink()
        .id(function (d) { return d.id; })                     // This provide  the id of a node
        .links(data.links)
        .distance(100)
        .strength(.5)                                 // and this the list of links
      )
      .force("charge", d3.forceManyBody().strength(-100))         // This adds repulsion between nodes. Play with the -400 for the repulsion strength
      .force("center", d3.forceCenter(width / 2, height / 2))     // This force attracts nodes to the center of the svg area
      .force("collide", d3.forceCollide(30))
      .on("tick", ticked);

    var zoom_handler = d3.zoom()
      .on("zoom", zoom_actions);

    zoom_handler(svg);

    function dragstart(d) {
      if (!d3.event.active) {

        simulation.alphaTarget(0.08).restart();
      }

      d.fx = d3.event.x;
      d.fy = d3.event.y;


    }
    function dragging(d) {

      d.fx = d3.event.x;
      d.fy = d3.event.y;


    }
    function dragend(d) {

      if (!d3.event.active) {

        simulation.alphaTarget(0); // Allow the simulation to cool completely again
      }

      d.fx = null;
      d.fy = null;

    }

    function ticked() {
      link
        .attr("x1", function (d) { return d.source.x; })
        .attr("y1", function (d) { return d.source.y; })
        .attr("x2", function (d) { return d.target.x; })
        .attr("y2", function (d) { return d.target.y; });

      node
        .attr("cx", function (d) { return d.x = Math.max(15, Math.min(width - 15, d.x)) - 5; })
        .attr("cy", function (d) { return d.y = Math.max(15, Math.min(height - 15, d.y)) + 5; });

      relations
        .attr("x", function (d) { return (d.source.x + d.target.x) / 2.0; })
        .attr("y", function (d) { return (d.source.y + d.target.y) / 2.0; });

      entities
        .attr("x", function (d) { return d.x; })
        .attr("y", function (d) { return d.y; });
    }

    function zoom_actions() {
      g.attr("transform", d3.event.transform)
    }

  });


</script>